[Desktop Entry]
Name="devilspie2"
GenericName="devilspie2"
Comment="Moving and resizing windows automatically based on their name and class"
Exec=/usr/bin/devilspie2
Terminal=false
Type=Application
X-Gnome-Autostart=true

